* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-card {
    background-color: #181818;
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.profile-card .profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-card h1 {
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
}
.location {
    color: #89C74A;
    margin-bottom: 20px;
}

.bio {
    color: #ccc;
    font-style: italic;
    margin-bottom: 20px;
    font-size: small;
}

.social-links .btn {
    display: block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-links .btn:hover {
    background-color: #555;
}
